{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <h1>Connexion</h1>

        {% if error %}
            <div class="alert alert-danger">Identifiants incorrects.</div>
        {% endif %}

        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <button type="submit" class="btn btn-primary">{{ form_widget(form.submit) }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}